<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Catch Mind!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./stylesheets/waitingRoomStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./javascripts/gameRoomScript.js"></script>
    <script type="text/javascript" src="./javascripts/waitingRoomScript.js"></script>
    <script type="text/javascript" src="./javascripts/title.js"></script>
    <script src="./socket.io/socket.io.js"></script>
</head>
<body>
<div style="height: 100%;width:100%;margin-top:20px;">

    <div id = "rooms">

    </div>

    <div id = "contents">
        <div id = "titlelogo">
            <img id = "Pic-titlelogo" src="./images/login_title.png" alt="캐치마인드!">
        </div>

        <div id = "user">
            <div id = "userPic">
                <img id = "Pic-anonymous" src="./images/user.png">
            </div>

            <div id = "userID">
                <label><%= user %></label>
            </div>
        </div>

        <div id = "buttons">
            <button class = "btn" id = "btn-room-create" data-target="#createRoompop" data-toggle="modal">방 만들기</button>
            <button href="/gameRoom" class = "btn" id = "btn-room-quickEnter">바로입장</button>
        </div>

        <div id = "current-info">
            <div class = "user-count">
                <label>현재 접속자수</label>
                <div class = "count-number">

                </div>
            </div>

            <div class = "user-count">
                <label>누적 접속자수</label>
                <div class = "count-number">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createRoompop" >
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <!-- 닫기(x) 버튼 -->
                <button type="button" class="close" data-dismiss="modal">×</button>
                <!-- header title -->
                <h4 class="modal-title">방 만들기</h4>
            </div>
            <!-- body -->
            <div class="modal-body">
                <form
                        style="width:100%; height:100%;">
                    <div style="width:100%; height:75%;display: inline-block;">
                        <input class="inputs" id="roomnameInput" type="text" placeholder="즐거운 게임 한판!" autofocus maxlength="20" required />
                        <input class="inputs" id="maxUserCount" type="number" min="2" max="8" placeholder="인원" required>
                    </div>
                    <inuut type="submit" class="btn btn-default" id="btn-room-create2" data-dismiss="modal">방 만들기</inuut>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    var user = '<%= user %>';
    var serverURL = '52.32.58.14:3000';
    var socket = io.connect(serverURL);

    $(document).ready(function() {

        socket.emit('joinWaitingRoom');

        socket.on("room",function(data){
            $('#rooms').html("");
            console.log(data.rooms.length);
            for(var i in data.rooms){
                createRoom(data.rooms[i].roominfo.roomnum, data.rooms[i].roominfo.roomname, data.rooms[i].roominfo.currentcount, data.rooms[i].roominfo.maxcount);
            }
        });

        $('#btn-room-create2').click(function(){
            if($('#roomnameInput').val()==""){
                alert("방제목을 입력해주세요.");
            }
            else if($('#maxUserCount').val()=="" || $('#maxUserCount').val()>8 || $('#maxUserCount').val()<2){
                alert("게임인원을 제대로 입력해주세요.");
            }
            else {
                socket.emit("createRoomToServer",{user:user, roomname:$('#roomnameInput').val(), maxcount:$('#maxUserCount').val()});
                socket.on("roomenter",function(data){
                    window.location.href = '/gameRoom' + data.roomnum;
                });
            }
        });

        function createRoom(roomnum, roomname, currentUser, maxCount){

            var div1 = $('<div class = "room"></div>');
            var div2 = $('<div class = "room-info1"></div>');
            var div3 = $('<div class = "room-info2"></div>');
            var div4 = $('<div class = "room-number"></div>');
            var div5 = $('<div class = "room-count"></div>');
            var div6 = $('<div class = "room-name"></div>');
            var button1 = $('<button onclick="room_enter('+ roomnum+',' + currentUser + ','+ maxCount + ')" class="btn" id="'+roomnum+'" href="/gameRoom" style="float:right; margin-right:10px;margin-top:5px;width:90px;height:30px;">Enter</button>');
            var label1 = $("<label>" + roomnum + "</label>");
            var label2 = $("<label>" + currentUser + "/" + maxCount + "</label>");
            var label3 = $("<label>" + roomname + "</label>");

            div4 = div4.append(label1);
            div5 = div5.append(label2);
            div6 = div6.append(label3);
            div2 = div2.append(div4).append(div5).append(div6);
            div3 = div3.append(button1);
            div1 = div1.append(div2).append(div3);

            $("#rooms").append(div1);
        }

    });

    function room_enter(roomnum,current,max){
        if(current == max){
            alert("방이 꽉차서 들어갈 수 없습니다.");
        }else{
            alert(roomnum+"번방 입장, 현재유저수: "+current);
            socket.emit("enterroom",{roomnum:roomnum,current:current,max:max});
            console.log("되니?");
            socket.on("roomenter",function(data){
                window.location.href = '/gameRoom' + data.roomnum;
            });
        }
    }




</script>
</html>